* {
    color: #a7b7d7;
    background: #373490; 
    font-family: century-old-style-std, serif;
}

main {
    padding: 1rem;    
    margin: 2rem auto;
    max-width: 40rem;
    padding: 2rem;
}

header {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

li {
    font-family: schoolbook-condensed, serif;    
}

p {
    font-family: schoolbook-condensed, serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-style: italic;
    color: #eb5800;
    padding: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 2rem;
    text-align: center; 
}

img {
    background: none;
    padding: 1rem;
}

.rotate {
    transform: rotate(-10deg);
}
