* {
    color: #D1CFC1;
    background: #5F6785;    
    font-size: 1.05rem;
    font-family: century-old-style-std, serif;
    padding-bottom: 0.75rem;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    padding-right: 1rem;
    padding-left: 1rem;
}

main {
    padding: 0.2rem;
    margin: 2rem auto;
    max-width: 40rem;
}

header {
    padding: 1rem;
    padding-bottom: 0rem;
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    color: #EBE9DA;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

li, p {
    font-family: schoolbook-condensed, serif;    
}

a {
    text-decoration: none;
    color: #D7A97B;
    font-weight: 1rem;
}

h1 {
    font-size: 1rem;
}

input[type=submit] {
    border: none;
    background-color: #D7A97B;
    height: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    color: #E0DECE
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: none;
    padding-bottom: 3rem;
}

img {
    background: none;
    padding: 1rem;
}

*::-webkit-scrollbar {
width: 0.75rem;
}

*::-webkit-scrollbar-track {
background: #5F6785;
}

*::-webkit-scrollbar-thumb {
background-color: #D7A97B;
border: none;
}

.favicon {
    padding-left: 0rem;
    padding-top: 2rem;
}

.rotate {
    transform: rotate(-10deg);
}

.box {
    inline-size: 45%;
    overflow-wrap: break-word;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
