* {
    color: #afbfcc;
    background: #f0f4f3;
    font-size: 1rem;
    font-family: "richler-pro-pe", serif;
    padding-bottom: 0.75rem;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    padding-right: 1rem;
    padding-left: 1rem;
}

main {
    padding: 0.2rem;
    padding-top: 0rem;
    margin: 2rem auto;
    max-width: 40rem;
}

header {
    padding-top: 0.2rem;
    padding-bottom: -1rem;
    display: flex;
    flex-wrap: wrap;
    color: #ebe9da;
    justify-content: space-between;
}

h1 {
    font-size: 1.1rem;
    font-family: "lamar-pen", sans-serif;
    font-style: normal;
    font-weight: 0.5rem
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 1rem;
    gap: 1rem;
}

li, p {
    font-family: schoolbook-condensed, serif;    
}

nav {
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: #4F5C73;
    font-weight: 1rem;
}

input[type=submit] {
    border: 0rem;
    border-radius: -50rem;
    background-color: #4F5C73;
    height: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    color: #ffffff
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: none;
    padding-bottom: 3rem;
}

img {
    background: none;
    padding: 1rem;
}

img:hover {
    opacity: 0%;
}

*::-webkit-scrollbar {
width: 0.75rem;
}

*::-webkit-scrollbar-track {
background: #f3f4f0;
}

*::-webkit-scrollbar-thumb {
background-color: #4f5c73;
border: none;
}

.favicon {
    padding-left: -5rem;
    padding-top: 2rem;
}

.rotate {
    transform: rotate(-10deg);
}

.box {
    inline-size: 45%;
    overflow-wrap: break-word;
}

.gallery {
    width: 35%;
    align: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
