* {
    color: #a7b7d7;
    background: #373490;    
    font-size: 1.1rem;
    font-family: century-old-style-std, serif;
    padding-bottom: 1rem;
}

body {
    padding-right: 0rem;
    padding-left: 2rem;
}

main {
    padding: 1rem;    
    margin: 2rem auto;
    max-width: 40rem;
    padding: 2rem;
}

header {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

li, p {
    font-family: schoolbook-condensed, serif;    
}

a {
    text-decoration: none;
    font-style: italic;
    color: #eb5800;
}

h1 {
    font-size: 2rem;
}

input[type=submit] {
    border: none;
    background-color: #eb5800;
    height: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
}

img {
    background: none;
    padding: 1rem;
}

*::-webkit-scrollbar {
width: 0.75rem;
}

*::-webkit-scrollbar-track {
background: #373490;
}

*::-webkit-scrollbar-thumb {
background-color: #eb5800;
border: none;
}

.rotate {
    transform: rotate(-10deg);
}

.box {
    inline-size: 45%;
    overflow-wrap: break-word;
}
